body {
  font-family: sans-serif;
}

.header-region {
  background: #ffe6de;
  padding: 0 10px;
  margin-bottom: 30px;
}

.header-region .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .header-region .layout {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .header-region .site-logo {
    margin: 0 auto;
  }
}

.header-region .site-name {
  margin-left: 20px;
  margin-top: 10px;
}

@media (max-width: 450px) {
  .header-region .site-name {
    margin-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

.header-region .share-calendar {
  margin-left: auto;
}

@media (max-width: 450px) {
  .header-region .share-calendar {
    margin: 0 auto;
  }
}

.header-region .social-networks {
  margin-top: 15px;
}

.site-logo .logo-image {
  width: 95px;
  margin-top: 10px;
}

@media (max-width: 450px) {
  .site-logo .logo-image {
    width: 70px;
  }
}

.site-name {
  font-family: "Roboto Condensed", sans-serif;
  color: #235c55;
  font-weight: bold;
}

.site-name .title {
  font-size: 32px;
  margin-bottom: 3px;
}

@media (max-width: 450px) {
  .site-name .title {
    margin-left: 0;
    padding-top: 5px;
    margin-top: 0;
  }
}

.site-name .description {
  font-size: 16px;
  margin-top: 0;
}

.main-button {
  background: #d81e5d;
  font-family: sans-serif;
  color: #ffe6de;
  text-decoration: none;
  padding: 5px 11px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
}

.social-networks {
  text-align: center;
}

.color-choice .label {
  font-weight: bold;
  margin-bottom: 5px;
}

.color-choice .dropdown {
  padding: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.single-calendar {
  color: #535154;
  margin-top: 40px;
}

.single-calendar .deletecalendar,
.single-calendar .addcalendar {
  visibility: hidden;
  font-size: 15px;
  vertical-align: middle;
  padding: 0 15px;
  cursor: pointer;
}

.single-calendar .deletecalendar:hover,
.single-calendar .addcalendar:hover {
  color: #d81e5d;
}

.single-calendar:hover .deletecalendar,
.single-calendar:hover .addcalendar {
  visibility: visible;
}

.single-calendar .calendar {
  border: 1px solid #235c55;
  border-radius: 10px;
  padding: 15px 10px;
  width: 270px;
}

.single-calendar .monthname {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.single-calendar .weekdays {
  color: #d2d1d3;
}

.single-calendar .dayname {
  font-weight: normal;
  text-align: center;
  padding-bottom: 7px;
}

.single-calendar .daynumber {
  font-weight: bold;
  padding: 15px 10px 15px 10px;
  text-align: center;
}

.single-calendar .daynumber:hover {
  background: #ffe6de;
  cursor: pointer;
  border: 0, 5px solid #ffe6de;
  border-radius: 10px;
}

.single-calendar .daynumber:last-child,
.single-calendar .dayname:last-child {
  color: #d81e5d;
}

.control-panel {
  padding: 0 10px;
}

.calendar-list {
  padding: 0 10px;
}

.calendar-list .single-calendar {
  margin-left: 50px;
}

.calendar-list .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -50px;
}

.register-region {
  margin: 50px 0;
  padding: 50px 0;
  background: black url("/img/background_img.jpg") center no-repeat;
  background-size: cover;
}

.standart-form .input,
.standart-form .select {
  display: block;
  width: 200px;
  margin: 12px auto;
  border: 1px solid #535154;
  padding: 5px;
  height: 20px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.standart-form .checkbox,
.standart-form .submit {
  cursor: pointer;
}

._container {
  max-width: 960px;
  margin: 0 auto;
}
/*# sourceMappingURL=style_calendar.css.map */