$font-header: 'Roboto Condensed', sans-serif;

$color-green: #235c55;
$color-grey: #dbdbdb;
$color-grey-dark: #535154;
$color-red: #d81e5d;
$color-yellow: #ffe6de;

$calendar-gap: 50px;

$width-small: 450px;

@mixin big-component-style() {
  padding: 0 10px;
}

body {
  font-family: sans-serif;
}

.header-region {
  background: #ffe6de;
  @include big-component-style();
  margin-bottom: 30px;

  .layout {
    display: flex;
    align-items: center;

    @media (max-width: $width-small) {
      flex-wrap: wrap;
      text-align: center;
    }
  }
  .site-logo {
    @media (max-width: $width-small) {
      margin: 0 auto;
    }
  }

  .site-name {
    margin-left: 20px;
    margin-top: 10px;

    @media (max-width: $width-small) {
      margin-left: 0;
      padding-top: 0;
      margin-top: 0;
    }
  }

  .share-calendar {
    margin-left: auto;
    @media (max-width: $width-small) {
      margin: 0 auto;
    }
  }

  .social-networks {
    margin-top: 15px;
  }
}

.site-logo {
  .logo-image {
    width: 95px;
    margin-top: 10px;
  }
}

.site-logo .logo-image {
  @media (max-width: $width-small) {
    width: 70px;
  }
}

.site-name {
  font-family: $font-header;
  color: $color-green;
  font-weight: bold;
  .title {
    font-size: 32px;
    margin-bottom: 3px;

    @media (max-width: $width-small) {
      margin-left: 0;
      padding-top: 5px;
      margin-top: 0;
    }
  }
  .description {
    font-size: 16px;
    margin-top: 0;
  }
}

.main-button {
  background: #d81e5d;
  font-family: sans-serif;
  color: #ffe6de;
  text-decoration: none;
  padding: 5px 11px;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
}

.social-networks {
  text-align: center;
}

.color-choice {
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .dropdown {
    padding: 5px;
    border: 1px solid $color-grey;
    border-radius: 5px;
  }
}

.single-calendar {
  color: $color-grey-dark;
  margin-top: 40px;

  .deletecalendar,
  .addcalendar {
    visibility: hidden;
    font-size: 15px;
    vertical-align: middle;
    padding: 0 15px;
    cursor: pointer;

    &:hover {
      color: $color-red;
    }
  }
  &:hover .deletecalendar,
  &:hover .addcalendar {
    visibility: visible;
  }

  .calendar {
    border: 1px solid $color-green;
    border-radius: 10px;
    padding: 15px 10px;
    width: 270px;
  }

  .monthname {
    text-align: center;
    font-family: $font-header;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .weekdays {
    color: lighten($color-grey-dark, 50%);
  }

  .dayname {
    font-weight: normal;
    text-align: center;
    padding-bottom: 7px;
  }

  .daynumber {
    font-weight: bold;
    padding: 15px 10px 15px 10px;
    text-align: center;
  }
  .daynumber:hover {
    background: $color-yellow;
    cursor: pointer;
    border: 0, 5px solid $color-yellow;
    border-radius: 10px;
  }

  .daynumber:last-child,
  .dayname:last-child {
    color: $color-red;
  }
}

.control-panel {
  @include big-component-style();
}

.calendar-list {
  @include big-component-style();
  .single-calendar {
    margin-left: $calendar-gap;
  }
}

.calendar-list .layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -$calendar-gap;
}

.register-region {
  margin: 50px 0;
  padding: 50px 0;
  background: black url('/img/background_img.jpg') center no-repeat;
  background-size: cover;
}

.standart-form {
  .input,
  .select {
    display: block;
    width: 200px;
    margin: 12px auto;
    border: 1px solid $color-grey-dark;
    padding: 5px;
    height: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  .checkbox,
  .submit {
    cursor: pointer;
  }
}

._container {
  max-width: 960px;
  margin: 0 auto;
}
